/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
p,h2,h3 {
  color: #ffebae;
}
.wp-block-cgb-block-tour-block  {
  background:#131313;
  border: none;
  color: #ffebae;
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.tour__image {
  width: 100%;
  max-width: 210px;
  height: auto;
  object-fit: cover;
  max-height: 185px;
  flex: 1;
}
.tour__content {
  margin-left: 1rem;
  p {
    margin-bottom: 5px;
  }
}
.tour__url a {
  background: #f45731;
  color: #131313;
  border: 1px solid #f45731;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  margin-top: 5px;
}
.tour__body a {
  color: #f45731;
  text-decoration: underline;
}
@media only screen and (max-width: 786px) {
  .wp-block-cgb-block-tour-block  {
    flex-direction: column;
  }
}